.section-padding {
    padding-top: 5rem;
}

.navbar-trans {
    background: rgba(100, 100, 100, 0.7);
}

.navbar-opaque {
    background-color: black;
}

#header {
    background: url(../img/header-bg.jpg)center/cover no-repeat fixed;
}

.height {
    min-height: 100vh;
}

.gray-bcg {
    background: rgb(240, 240, 240);
}

#hire {
    background: url(../img/hire.jpg)center/cover no-repeat fixed;
}

.body-display {
    visibility: hidden;
}

.text-gray {
    color: rgb(90, 90, 90);
}

p {
    font-family: 'Open Sans', sans-serif;
}

strong {
    font-family: 'Noto Sans KR', sans-serif;
}

.footer-height {
    min-height: 10vh;
}

.white-nav {
    transition: background-color 0.1s;
    transition-timing-function: linear;
    background-color: white!important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.resume-block:hover .fade-img {
    opacity: 0.3;
}

.resume-block:hover .rsm-link {
    opacity: 1;
  }

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
